.bgn {
  background-size: 100%;
  background-image: url(../img/backgraund.png);
  background-repeat: no-repeat;
}
.head-menu {
  /* position: absolute; */
  background: url(images/opacity.png);
  width: 100%;
  height: 58px;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.logo-left {
  margin-left: 79px;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
}
.logo-left:hover .logo-left-text {
  color: #01813f;
}
.logo-right {
  display: flex;
  text-align: end;
  align-items: center;
  box-sizing: border-box;
}
.logo-right-element {
  margin-left: 25px;
  color: #fff;
}
.logo-right1 {
  background: url(../img/Logo1.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.logo-right1:hover {
  background: url(../img/Hover-logo1.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.logo-right2 {
  background: url(../img/Logo2.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 25px;
}
.logo-right2:hover {
  background: url(../img/hover-logo2.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.logo-right3 {
  background: url(../img/Logo3.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 25px;
  margin-right: 2px;
}
.logo-right3:hover {
  background: url(../img/hover-logo3.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}
.logo-right4 {
  background: url(../img/line.svg);
  background-repeat: no-repeat;
  display: block;
  width: 5px;
  height: 24px;
  margin-left: 25px;
  margin-right: 2px;
}
.logo-right4:hover {
  background: url(../img/hover-line.svg);
  background-repeat: no-repeat;
  display: block;
  width: 5px;
  height: 24px;
}
.rigt-link {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: end;
  color: #ffffff;
  margin-right: 79px;
  margin-left: 25px;
}

.form-box {
  width: 444px;
  height: 584px;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 74px;
  background-color: #fff;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.head-form {
  display: flex;
  flex-direction: row;
}
.grin-sqr {
  margin-top: 29px;
}
.sign {
  margin-top: 31px;
  margin-left: 43px;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.log {
  margin-top: 33px;
  margin-left: 216px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #3cb878;
}
.log:hover {
  color: #01813f;
  text-decoration: underline;
}
.btn {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.btn-left {
  margin-top: 15px;
  margin-left: 60px;
  width: 160px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: #305db8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.btn-left:hover {
  background: #022263;
}
.btn-right {
  margin-top: 15px;
  margin-right: 60px;
  width: 160px;
  height: 48px;
  left: 0px;
  top: 0px;
  background: #df4a32;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.btn-right:hover {
  background: #ab1f09;
}
.or {
  margin-top: 31px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #848484;
}
.or-line {
  width: 152px;
  height: 1px;
  background: #f2f2f2;
}
.form-input {
  margin-top: 14px;
  margin-left: 60px;
  width: 322px;
  height: 44.08px;
  left: 61px;
  top: 164.96px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  border-color: #f2f2f2;
}
.form-input:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.check {
  margin-top: 12px;
  margin-left: 60px;
  display: flex;
  justify-content: start;
  text-align: center;
}
.checkmark-first {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #434343;
}
.checkmark-second {
  margin-left: 5px;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #3cb878;
}
.checkmark-second:hover {
  color: #01813f;
  text-decoration: underline;
}
.btn-center {
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 38px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-center:hover {
  background-color: #01813f;
}
.btn-text {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.footer {
  height: 74px;
}
.rigt-link:hover .hover-head-text {
  color: #3cb878;
}
.hover-head-text {
  padding: 3px;
}
.checkbox {
  cursor: pointer;
}
.checkbox__input:focus + .checkbox__face {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.checkbox__face {
  display: inline-block;
  height: 20px;
  width: 20px;
 }
.checkbox__input:checked + .checkbox__face {
  background:url(../img/Vector\ 1.png);
  background-repeat: no-repeat;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
}